<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login details</title>
    <link rel="stylesheet" href="/style1.css">
</head>
<body>
    <h1>Welcome to simon Game </h1>
    <div class="form">
        <form action="/simonGame" method="post">
            <label for="uName">User name: </label>
            <input type="text" name="userName" id="uName" placeholder="enter name,email,number"><br>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" placeholder="enter  password"><br>
            <button type="submit">SignUP</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="reset">reset</button>
        </form>
        <a href="/simonGame/newDetails"><button>Create a new Usser id</button></a>
        <br>
        <a href="simonGame/forgetPassword">forget password</a>
    </div>
</body>
</html>