<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="/style2.css">
</head>
<body>
    <div class="form">
    <form action="/simonGame/submit" method="post">
    <h1>create a new user ID</h1>
    <hr>
    <label for="uName">Enter your Name :</label>
    <input type="text" id="uName" name="userName" placeholder="first-Name">
    <input type="text" id="uName" placeholder="last-Name"><br>
    <label for="email">Enter your Email :</label>
    <input type="email" id="email" name="userEmail" placeholder="enter the email"><br>
    <label for="phoneNumber">Enter Contact Num :</label>
    <input type="number" id="phoneNumber" placeholder="enter the number " name="number"><br>
    <label for="gender">Enter the gender :</label>
    <input type="teaxt" id="gender"placeholder="enter the gender"><br>
    <label for="password">enter the password</label>
    <input type="password" name="password" id="password" placeholder="enter the password">
    <br>
    <button type="submit">Submit</button> &nbsp;&nbsp;&nbsp;&nbsp;<button type="reset">Reset</button>
    </form>
    </div>
</body>
</html>