<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password reset</title>
</head>
<body>
  <form action="/simonGame/resetPassword" method="post">
    <label for="userName">Enter user Name </label>
    <input type="text" name="userName" id="userName" placeholder="enter name or email"><br>
    <label for="number">Enter the number </label>
    <input type="number" name="number" id="number" placeholder="enter the number"><br>
    <button type="submit">reset password</button>
  </form>
</body>
</html>