<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password reset</title>
    <style>
        h1{
            color: brown;
        }
        h1 i{
            font-style: italic;
            text-decoration: underline;
        }
        h2{
            color: brown;
        }
        p{
            font-size: large;
            font-weight: bold;
            color: blue;
        }
    </style>
</head>
<body>
    <h1>welcome <i>@<%= userName %></i></h1>
    <h2> please reset the password</h2>
    <label for="otpValue">Enter the otp</label>
    <input type="text" id="otpValue" name="otp" pattern="\d{4}" maxlength="4" placeholder="enter otp"/>
    <button id="otp">SUBMIT</button>
    <p></p>
    <hr>
    <form action="/simonGame?_method=PATCH" method="POST">
        <label for="firstPassword">Enter new Password</label>
        <input type="password" name="password" id="FirstPassword" placeholder="new password"><br>
        <label for="secPassword">Reenter new Password</label>
        <input type="password"  id="secPassword" placeholder="reneter password"><br>
        <button id="passwordChange">Submit</button> &nbsp;&nbsp;&nbsp;&nbsp;<button>Reset</button>
    </form><br>
    <p id="pass"></p>
    <script src="/script.js">
    </script>
</body>
</html>